{% extends 'admin/base.html' %}
<!--load static to load site logo-->
{% load static %}
<!--load block to inject our cutom code-->
{% block branding %}
<a href="{% url 'admin:index' %}">
  <h1 class="head">
    <img
      src="{% static 'img/logo.png' %}"
      alt="Site Logo"
      height="50"
      width="80"
      class="brand_img"
    />
    AB Real Estate | Admin
  </h1>
</a>
{% endblock branding %}
<!--Now inject our cutom style to the style  sheet-->
{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}" />
{% endblock extrastyle %}
