{% if messages %}
<!---->
{% for message in messages %}
<div id="message" class="container">
  <div
    class="alert
        alert-{{ message.tags }}
        alert-dismissible
        text-center"
    role="alert"
  >
    <button type="button" class="close" data-dismiss="alert">
      <!--&times to put x mark-->
      <span area-hidden="true">&times;</span>
    </button>
    <strong>
      <!--check if the message is in error-->
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} ERROR: {% else %}
      {{message.tags | title}} {% endif %}
    </strong>
    <!--Put the actual message-->
    {{message}}
  </div>
</div>

{% endfor %}
<!---->
{% endif %}
