#header {
    height: 50px;
    background: #512DA8;
    color: aliceblue;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: aliceblue;
}

div.breadcrumbs{
    background: #2196F3;
}

.module h2, .module caption, .inline-group h2{
    background: #2196F3;
}

a:link, a:visited{
    color: #2196F3;
}

#nav-sidebar .current-model{
    background: #ede7f6;
}
#nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited{
    color: aliceblue;
}

.button.default, input[type=submit].default, .submit-row input.default{
    background: #512da8;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: #2196f3;
}